---
---

/* IMPORTS */
@import "jekyll-theme-cayman";

/* BEEHIVE THEME OVERRIDES */
.page-header {
  background-image: linear-gradient(120deg, #F5CF60, #FFB800);
  background-color: #FFB800;
  color: #3E2723;
}

.project-name, .project-tagline {
  color: #3E2723; 
}

.btn {
  background-color: #212121;
  color: #F5CF60;
  border-color: #212121;
}

.btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}

a {
  color: #D38D09;
}

pre, code {
  background-color: #f6f6f6;
  border: 1px solid #cccccc;
  color: #333;
}